<a href="https://colab.research.google.com/github/JeSnaMariyam/os/blob/main/Day1(data%20science).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to python**
###1.variables and data types
variable store data and python can automatically determine the type of data based on thhe value you assign.

In [10]:
age=25 #integer
height=123.5 #float
name="jess" #string
is_student = True #boolean(true or false)


print("age is:",age)
print("height is:",height,"cm")
print("data type of age is:",type(age))
print("the height of",name,"is",height,"in cms and age is",age,"year.")

age is: 25
height is: 123.5 cm
data type of age is: <class 'int'>
the height of jess is 123.5 in cms and age is 25 year.

### 2.basic operations

In [22]:
#addition
x=10
y=3
sum = x+y
sub= x-y
print("sum:",sum)
print("sub=",sub)
#or the below method
print(x,"+",y,"=",x+y)
print(x,"-",y,"=",x-y)
print(y,"-",x,"=",y-x)
print(x,"*",y,"=",x*y)
print(x,"/",y,"=",x/y)
print(x,"%",y,"=",x%y) # [modulus fn:] 10/3 remainder will be 1
print(x,"**",y,"=",x**y)
print(x,"//",y,"=",x//y) # (10/3=3.333)only returns the whole no; from divion ie=3

 #take x=10 and y=3. perform the above operations

sum: 13
sub= 7
10 + 3 = 13
10 - 3 = 7
3 - 10 = -7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 % 3 = 1
10 ** 3 = 1000
10 // 3 = 3

In [23]:
#hw1
name="Suma"
maths=76
social=85
science=96
english=92
avg=(maths+social+science+english)/4
print(name,"scored",maths,"in maths,",social,"in social,",science,"in science and",english,"in english.")
print("avg of suma=",avg)

Suma scored 76 in maths, 85 in social, 96 in science and 92 in english.
avg of suma= 87.25

In [25]:
#hw2
w1=14
w2=56
diff=56-14
print("Anil has",w1,"kg rice and Sumesh bought",w2,"kg rice.")
print("Amount that Sumesh's rice weigh than Ani is:",diff)

Anil has 14 kg rice and Sumesh bought 56 kg rice.
Amount that Sumesh's rice weigh than Ani is: 42

###hw3
###x=50, y=-40, z=-21, p=3
####perform:
###1. x-y+z
###2. x^p + y
###3. floor division of(x-y) with p
###4. modulus of (x=y) with z

In [40]:
#1.
x=50
y=-40
z=-21
p=3
#1. x,"-",y,"+",z,"="
#2. x,"^",p,"+",z,"="
#3. "(",x,"-",y,"//)",p,"="
#4. "(",x,"+",y,")%",z,"="
print("x-y+z=",x-y+z)

#2.
print("x^p +y=",x*y+z)

#3
print("(x-y)//p=",(x-y)//p)

#4
print("(x+y)%z",(x+y)%z)

x-y+z= 69
x^p +y= -2021
(x-y)//p= 30
(x+y)%z -11