<a href="https://colab.research.google.com/github/JeSnaMariyam/os/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PYTHON INPUT/OUTPUT

In [ ]:
value=input("ENTER THE VALUE:")
print(value)

ENTER THE VALUE:-32
-32

### PYTHON OPERATORS
1. ARITHMETIC OPERATORS(+,-,*,/,***,%,//)
2. logical operators(AND, OR, NOT)
3. Bitwise operators()
4. Assignment operators
5. relational operators

In [ ]:
#logical operators
a= True #1
b= False #0
print(a and b) #1 and 0==0
print(a or b) #1 or 0==1
print(not a) #!1=0

False
True
False

In [ ]:
#bitwise operators
a=10 #1010
b=4 #0100
print(a & b) #1010 & 0100 == 0000
print(a | b) #1010 or 01000 == 1110

0
14

In [ ]:
#Assignment operators
a=10
a+ =5 #a=a+5 ans = 15
a-=4 #a=a-4
a* =3  #a=a*3

SyntaxError: invalid syntax (<ipython-input-22-b818e7a7f084>, line 3)

In [ ]:
# Relational operators
# >  <  ==  !=   >=   <=
#o/p will always be True or FALSE
num1 = 10
num2 = -30
print("is num1>num2:",num1>num2)
print("is num1 = num2:",num1==num2)

n1=100
n2=20
n3=30
print("are the nos;",n1,n2,n3,"in ascending order?:",n1<n2<n3)

is num1>num2: True
is num1 = num2: False
are the nos; 100 20 30 in ascending order?: False

### Control Flow Statement
---

1. if else
2. Loops---> for and while

In [ ]:
#if else condition
# check if the no: is +ve or not. print the result
i = float(input("Enter the number1:"))
j= float(input("Enter the number2:"))
if i>0:
  print("number is positive")
else:
  print("number is negative")
if j>0:
  print("number is positive")
else:
  print("number is negative")

Enter the number1:2
Enter the number2:4
number is positive
number is positive

In [ ]:
num1= 25
num2= -25
if num1 > num2:
  print("num1 is greater")
else:
  print("num2 is greater")

num1 is greater

In [ ]:
#take 2 nos from user, if no; is +ve add 10
# if it is a -ve no;, add -19
a=float(input("Enter the number:"))
if a>0:
  print(a+10)
else:
  print(a-19)

Enter the number:-3
-22.0

In [ ]:
# check odd or even
n=int(input("Enter the number:"))
if n%2==0:
  print("even")
else:
  print("odd")

Enter the number:3
odd

In [ ]:
# check voting eligiblity
age=int(input("Enter your age:"))
if age>=18:
  print("Eligible")
else:
  print("Not eligible")

Enter your age:3
Not eligible

if-elif-else

if condition1:
  code
elif condition2:
  code
elif condition3:
  code
else:
  code

In [ ]:
# if-elif-else
n1=int(input("Enter the no;"))
if n1>0:
  print(positive)
elif n1<0:
  print("negative")
else:
  print("Zero")

Enter the no;0
Zero

# **Assignment**

In [ ]:
#take the age of a person and classify the person as minor, adult, or snr citizen

age=int(input("Enter the age:"))
if age<18:
  print("Minor")
elif age>18 and age<60:
  print("Adult")
else:
  print("snr citizen")

Enter the age:3
Minor

In [7]:
#take the exam score of a student, and grade him based on the foll:
# 90 and above : A
# 80-89 : B
# 70-79 : C
# bellow 70 : F
mark= float(input("Enter the mark:"))
if mark>=90:
  print("Grade:A")
elif mark>=80 and mark<=89:
  print("Grade:B")
elif mark>=70 and mark<=79:
  print("Grade:C")
else:
  print("Grade:F")

Enter the mark:73
Grade:C

In [11]:
# take the temp: as i/p and classify it as hot (above 30c), warm(20-30c) or cold(below 20c)
temp= float(input("Enter the temperature:"))
if temp>30:
  print("Hot")
elif temp>=20 and temp<=30:
  print("Warm")
else:
  print("temperature below 20 dgree celcius is considered as cold")

Enter the temperature:6
temperature below 20 dgree celcius is considered as cold

In [16]:
# check if a given year is leap year or not.
# A year is leap year if it is divisible by 4, not divisible by 100

year= int(input("Enter year:"))
if year%4==0 and year%100!=0:
  print(year,"is a leap year")
else:
  print(year,"is not a leap year")

Enter year:2020
2020 is a leap year

In [15]:
# check whether the customer is eligible for 10% discount
# If the total purchase is above Rs3000, apply the discount and print the new amount
# otherwise print the original amount
amount=float(input("Enter the amount:"))
if amount>3000:
  print("Eligible for 10% dicount")
  print(amount-10%(amount),"is the new amount")
else:
  print(amount,"is the original amount")

Enter the amount:4000
Eligible for 10% dicount
3990.0 is the new amount