<a href="https://colab.research.google.com/github/JeSnaMariyam/os/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **for** **LOOP**


---


### SYNTAX:
for inter in sequence:
  #code block to perform action


*   iter: represents each item in the sequence.
*   sequence: list, tuple, string

## **range()**
generates a sequence of numbers.


*  range(n) nos; from 0 to n-1
*  range(start_value,stop_value): nos; from start to (stop-1)

eg: range(10,15): 10,11,12,13,14



* range(start,stop,step): addds the ability to specify the incrementing step.

eg: range(1,20,3): 1,4,7,10,13,16,19

In [3]:
#iterate and print each character in the string
str1="october"
for iter in str1:
  print(iter,"*")
print("----")

o *
c *
t *
o *
b *
e *
r *
----

In [4]:
#traverse over collection of nos; list[10,20,30,40]
list1=[10,20,30,40]
for num in list1:
  print(num+5)
print("****")

15
25
35
45
****

In [5]:
#3. print hello 5 times
for i in range(5): #range=0,1,2,3,4
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [10]:
# print nos; from 1 t0 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
#print nos; from 1 to 20 alternatively
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [16]:
# print the squares of 5,10,15,20,25,30
for i in range(5,31,5):
  print(i*i, end=" ") #end=" " to print in single line

25 100 225 400 625 900

In [19]:
#print numbers from 30 to 1
for i in range(30,0,-1):
  print(i,end=" ,")

30 ,29 ,28 ,27 ,26 ,25 ,24 ,23 ,22 ,21 ,20 ,19 ,18 ,17 ,16 ,15 ,14 ,13 ,12 ,11 ,10 ,9 ,8 ,7 ,6 ,5 ,4 ,3 ,2 ,1 ,

In [21]:
#display number from 0 upto the user given no;
num=int(input("Enter the upper limit:"))
for i in range(0,num+1):
  print(i)

Enter the upper limit:8
0
1
2
3
4
5
6
7
8

In [23]:
# display nos; from lower_limit to upper_limit. both specify by user.

num1=int(input("Enter the lower limit:"))
num2=int(input("Enter the upper limit:"))
for i in range(num1,num2+1):
  print(i, end="  ")

Enter the lower limit:1
Enter the upper limit:12
1  2  3  4  5  6  7  8  9  10  11  12

In [32]:
# in a range of nos; 0 to 20, i want to print only even numbers.
num1=int(input("Enter the lower limit:"))
num2=int(input("Enter the upper limit:"))
for i in range(num1,num2+1):
  if i%2==0:
    print(i,end=" ")
  else:
    print(" ", end=" ")

Enter the lower limit:7
Enter the upper limit:18
  8   10   12   14   16   18

In [42]:
# nos; from 11 to 15
#add 11+12+13+14+15 = __________
sum = 0
for i in range(11,16):
  sum=sum+i

print("sum of nos; from 11 to 16 is:",sum)

sum of nos; from 11 to 16 is: 65

In [47]:
# count values from 13+15+17+19+...+33 = _____
sum = 0
for i in range(13,34,2):
  sum=sum+i
print("sum of these nos; are:",sum)

sum of these nos; are: 253

In [49]:
# print factorial of a number
#5!= 1*2*3*4*5
#n!=1*2*3*....*(n-1)*n
#factorial= factorial*(variable of range)

n=int(input("Enter the number:"))
factorial=1
for i in range(1,n+1):
  factorial*=i
print ("The factorial of",n,"is:",factorial)

Enter the number:6
The factorial of 6 is: 720

### **Reverse a number**
reverse a number using for loop

        tens    ones

 34 =     3(tens plpace)       4(ones place)

34%10=             4 (the remainder value is 4)

*   this method helps to iterate ones place digit.
*  then multiply the remainder value with 10 goes to tens place
* add remaining = 3
*   total = 43

In [53]:
# take a no; from the user and reverse it.
n=int(input("Enter the number:"))
rev_num=" "
for i in str(n):
  rev_num = i+rev_num
print("The reverse of ", n,"is:",rev_num)

Enter the number:23
The reverse of  23 is: 32

## **while loop**

In [55]:
n=int(input("Enter the number:"))
rev_num=0
while n>0:
  digit=n%10
  rev_num  =rev_num*10+digit
  n=n//10
print("The reverse of the number is:",rev_num)

Enter the number:123
The reverse of the number is: 321